
.card {
    width: 100%;

}


.blogt{
    display: flex;
    flex-direction: row;
   
}

.storyHead h1{

    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 100;
    padding-left: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 25px;
}


